button
{
    border-radius: 5px;
    width:fit-content;
    height: fit-content;
    padding: 5px; 
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Quicksand";
    cursor: pointer;
    border: 0; 
    margin: 20px;
}
button:hover:enabled
{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active:enabled
{
    transform: translateY(4px);    
    box-shadow: 0 0;
}
button:disabled
{
    background-color: #C9C9C9;
    color: #303c6c;
    border:0
}
.primary
{
    background-color: #303c6c;
    color: white;
}
.secondary
{
    border: 2px;
    border-style: solid;
    border-color: #303c6c;
    background-color:  #f0f0f0;
    color:#303c6c;
}
.icon
{
    border-radius: 20%;
    background-color: #303c6c;
    color: white;
    padding: 15px; 
}
.icon:disabled
{
    
    border-radius: 20%;
    padding: 15px; 
}