.textBoxDiv
{
    width:fit-content;
    height: fit-content;
    padding: 15px;
    color:#303c6c;
    
}

.input-label:enabled
{
    margin-left: 5px;
}
.helper-text{
    float: right;
    font-size: small;
}
.textBoxDiv input
{
    background-color: lightgrey;
    margin-left: 10px;
    margin-bottom: 3px;
    
}
.textBoxDiv input:enabled
{
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #303c6c ;
    color:darkgrey;
}
.textBoxDiv input:disabled
{
    border-radius: 5px ;
    width:fit-content;
    height: fit-content;
    color:#C9C9C9;
}

.textBoxDiv input:hover:enabled,input:focus:enabled
{
    background-color: white;
    border: 1.5px;
    border-radius: 5px;
    border-style: solid;
    border-color: #303c6c ;
    color:black;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    outline: none;
}
.textBoxDiv .error:enabled
{ 
    border-color: red;
} 
.info-Circle
{
    margin-left: 5px;
    width: 12px;
}